<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if(!isAuthenticated) { %>
      <a href="/users/login"> Log In / Register </a> <br>
    <% } else { %>
        <a href="/users/logout"> Log Out </a> <br>
        <a href="/dashboard"> Dashboard </a>
    <% } %>

    <%= user %>

  </body>
</html>