<%- include('../partials/head'); -%>
<body>
	<div class='content-container'>
		<%- include('../partials/header'); -%>
		<h1> Players </h1>
		<p> we're gonna have some sick leaderboard tables here </p>
		<%- include('../partials/footer'); -%>
	</div>
</body>