<%- include('../partials/head'); -%>
<body>
	<div class='content-container'>
		<%- include('../partials/header'); -%>
		<h1> Skills and Abilities </h1>
		<p> we're gonna have a small guide here that introduces the game to new players. Maybe also include a directory of items!</p>
		<%- include('../partials/footer'); -%>
	</div>
</body>