<%- include('./partials/head'); -%>
<body>
	<div class='content-container'>
		<%- include('./partials/header'); -%>
		<h1> 404: Page Not Found</h1>
		<div class='page-spacer'> </div>
		<%- include('./partials/footer'); -%>
	</div>
</body>

<style>
	.page-spacer {
		min-height: 50vh;
	}
</style>