<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if(!isAuthenticated) { %>
      <a href="/login"> Log In / Register </a> <br>
    <% } else { %>
        <form method="post" action="/users/logout">
          <button id="logout-button" type="submit">Logout</button>
        </form>
        <a href="/dashboard"> Dashboard </a>
    <% } %>

  </body>
  <style>
    button {
      background: none;
      border: none;
      padding: 0;
      color: #0000EE;
      text-decoration: underline;
      cursor: pointer;
    }
  </style>
</html>