html, body {
	font-family: 'Comfortaa';
	width: 100vw;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;

	display: flex;
	flex-direction: row;

	overflow-x: hidden;
}

.content-container {
	width: 80vw;
	min-height: 100vh;
	margin: auto;
	margin-top: 64px;
	padding: 0px;

	display: flex;
	flex-direction: column;
}