<div id='header-container'>
	<div class='header-section'>
		<a class="header-home" href='/article'> <span> Temp Story Online </span> </a>
	</div>
	<div class='header-section'>
		<a class="header-link" href="#"> <span>store</span> </a>
		<a class="header-link" href="#"> <span>account</span> </a>
	</div>
</div>