<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">

  <title>
    Temp Story Online
  </title>
  <meta name="description" content="Site Description : )">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>